        BODY{
            background-color: black;
        }
        .main{
            width: 1400px;
            height: 760px;
            margin: auto;
            background-color: white;
            padding-top: 10px;
            text-align: center;
            font-size: 19pt;
            font-weight: 500;
        }
        .square{
            width: 760px;
            height: 760px;
            border: 2px solid black;
            margin: auto;
        }
        .header{
            width: 760px;
            height: 120px;
            background-color: rgb(250,235,215);
            padding-top: 40px;
        }
        .inheader1{
            width: 640px;
            height: 60px;
            background-color: rgb(210,180,140);
            margin-left: 60px;
            padding-top: 20px;
        }
        .inheader2{
            width: 255px;
            height: 40px;
            background-color:rgb(255,255,240);
            margin-left: 190px;
        }
        .menu{
            width: 152px;
            height: 120px;      
            float: left;
        }
        .s1{
            background-color: rgb(95,158,160);
        }
        .s2{
            background-color: rgb(100,149,237);
        }
        .s3{
            background-color: rgb(245,222,179);
        }
        .s4{
            background-color: rgb(240,128,128);
        }
        .s5{
            background-color: rgb(75,0,130);
        }
        .unit{
            width: 253.3333px;
            height: 360px;
            float: left;
            background-color:royalblue;
        }
        .u1{
            background-color: rgb(0,128,0);
        }
        .text{
            width: 160px;
            height: 61px;
            background-color: rgb(192,192,192);
            margin-left: 46.5px;
            padding-top: 20px;
            margin-top: 15px;
            margin-bottom: 20px;
        }
        .three{
            width: 134px;
            height: 81px;
            background-color: rgb(139,0,0);
            margin-left: 60px;
        }
        .four{
            height: 163px;
            width: 67px;
            margin-left: 60px;
            float: left;
            background-color: rgb(250,128,114);
        }
        .five{
            height: 163px;
            width: 67px;
            float: left;
            background-color: rgb(189,183,107);
        }
        .u2{
            background-color:rgb(102,205,170);
        }
        .A{
            width: 253.33px;
            height: 40px;
            background-color:rgb(0,128,128);
        }
        .two{
            width: 84.443px;
            height: 80px;
            float: left;
        }
        .C1{
            background-color:rgb(173,216,230);
        }
        .D{
            background-color:rgb(64,224,208);
        }
        .B1{
            width: 42.4531px;
            height: 240px;
            background-color:rgb(165,42,42);
            float: left;
        }
        
        .mb{
            width: 42px;
            height: 235px;
            float: left;
        }
        .b0{
            width: 42px;
            height: 120px;
        }
        .B2{
            background-color:rgb(173,255,47);
            width: 42px;
            height: 120px;
        }
        .C2{
            background-color:rgb(0,0,139);
        }
        .C3{
            background-color:rgb(139,0,139);
        }
        .D1{
            background-color:rgb(0,128,128);
        }
        .C4{
            width: 42px;
            height: 80px;
            float: left;
            background-color: rgb(253,245,230);
        }
        .C5{
            width: 42.443px;
            height: 80px;
            float: left;
            background-color: rgb(250,128,114);
        }        
        .mc{
            float: left;
            width: 84.443px;
            height: 160px;
            
        }
        .D3{
            float: left;
            width: 84.443px;
            height: 160px;
            background-color:rgb(255,222,173);
        }5rd        
        .u3{

        }
        .right{            
            width: 253.33px;
            height: 40px;
            background-color:rgb(128,128,128);
        }
        .I{
            float: left;
            width: 84.433px;
            height: 40px;
            background-color:rgb(143,188,143);
        }
        .II{
            float: left;
            width: 84.433px;
            height: 40px;
            background-color:rgb(218,112,214);
        }
        .III{
            float: left;
            width: 84.433px;
            height: 40px;
            background-color:rgb(255,127,80);
        }
        .white{
            width: 183.33px;
            height: 47px;
            padding-top: 17px;
            padding-left: 70px;
            background-color:rgb(250,240,230);
        }
        .inWhite{
            width: 113px;
            height: 29px;
            background-color:red;
        }
        .inRed0{
            width: 113px;
            height: 21px;

        }
        .inRed0Left{
            width: 45px;
            height: 8px;
            float: left;
            
        }
        .inRed{
            width: 23px;
            height: 8px;
            background-color:black;
            float: left;
        }
        .VI{
            width: 253.33px;
            height: 64px;
            background-color:rgb(220,220,220);
        }
        .VII{
            width: 84.433px;
            height: 192px;
            background-color:rgb(47,79,79);
            float: left;
        }
        .VIII{
            width: 168.866px;
            height: 64px;
            background-color:rgb(112,128,144);
            float: left;
        }
        .IX{
            width: 84.433px;
            height: 64px;
            background-color:rgb(138,43,226);
            float: left;
        }
        .X{
            width: 84.433px;
            height: 64px;
            background-color:rgb(250,250,210);
            float: left;
        }
        .XI{
            width: 168.866px;
            height: 64px;
            background-color:rgb(221,160,221);
            float: left;
        }
        .basement{
            width: 760px;
            height: 119px;
            background-color:rgb(105,105,105);
            float: left;
        }