        BODY{
            background-color: black;
        }
        .main{
            width: 1200px;
            height: auto;
            margin: auto;
            border-radius: 5px;
            border: 1px solid silver;
            box-shadow: 10px 10px gray;
        }
        .header{
            width: 1200px;
            height: 70px;
            background-color: lightgrey;
            padding-top: 1px;
        }
        .in{float: left;
            margin: 16px;
            border: 1px solid silver;

            padding-left: 6px;
            padding-top: 8px;
        }
        
        .string{
            width: 950px;
            height: 25px;
            background-color: white;
            border-radius: 5px;


        }
        
        .circle{
            width: 25px;
            height: 25px;
            background-color: white;
            border-radius: 20px;
        }
        .line{
            width: 1200px;
            height: 5px;
            background-color: black;
        }
        
        .belowLine{
            width: 1200px;
            height: 160px;
            background-color: powderblue;
            
        }
        
        .middle{
            width: 1200px;
            height: 640px;
            background-color: whitesmoke;
        }
        .in2{
            float: left;
        }
        .lightcoral{
            width: 230px;
            height: 360px;
            background-color: rgb(240,154,157);
            margin-left: 160px;
        }
        
        .textBlock{
            width: 600px;
            height: 600px;
            background-color: rgb(245,207,142);
            padding: 20px;
            font-size: 29pt;
        }
        .nearText{
            width: 230px;
            height: 170px;
            border: 2px solid black;
            border-radius: 5px;
            margin-top: 17px;
            margin-bottom: 25px;
            margin-right: 20px;
            float: left;
        }
        
        .bottom{
            width: 1200px;
            height: 490px;
            background-color: rgb(214,233,254);
        }
        .inBottom{
            width: 360px;
            height: 200px;
            background-color: rgb(178,214,255);
            float: left;
            margin-left: 30px;
            margin-top: 30px;

        }