        .main{
            width: 1400px;
            height: 700px;
            border: 5px solid rgb(237,239,251);
            margin: auto;
            display: flex;
        }
        .left{
            flex: 1 3;
            background-color: rgb(87,81,149);
            
        }
        .wrapper{
            flex: 3 1;
            margin-left: 19px;
        }
        .form{
            display: flex;
            flex-direction: column;
        }
        .wr2{
            display: flex;
            width: 100%;
            height: 50px;
            flex-wrap: wrap;
            margin-bottom: 30px;
            
        }
        .label1{
            flex: 1 1;
            flex-wrap: wrap;

        }
        .in{
            width: 95%;
            height: 80%;
        }
        .send{
            width: 98%;
            height: 45px;
            background-color: rgb(211,211,211);
        }
        #text1{
            margin-bottom: 30px; 
            width: 1008px; 
            height: 200px;
        }