        .main{
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            font-size: 3rem;
        }
        .header{
            width: 100%;
            height: 200px;
            margin-bottom: 20px;
        }
        .wrapper{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .el{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            border-radius: 10px;
        }        
        .wrapperLeft{
            width: 21%;
            height: auto;
        }
        .sidebarTop{
            width: 100%;
            height: 550px;
            background-color: rgb(228,228,228);
            margin-bottom: 20px;
        }
        .sidebarBot{
            width: 100%;
            height: 200px;
            background-color: rgb(255,219,255);
        }
        .wrapperRight{
            width: 78%;
            height: auto;
        }
        .contentTop{
            width: 100%;
            height: 600px;
            margin-bottom: 20px;
        }
        .contentBot{
            width: 100%;
            height: 150px;
            background-color: rgb(199,225,250);
        }
        .footer{
            width: 100%;
            height: 200px;
        }
                
        
    @media screen and (max-width: 768px){
        .main{
            margin: auto;
            font-size: 1.5rem;
        }
        .wrapper{
            display: table;
        }
        .wrapperLeft{
            width: 100%;
            height: auto;
            display:table-footer-group;
        }
        .sidebarTop{
            width: 100%;
            height: 200px;
            margin-bottom: 20px;
        }
        .sidebarBot{
            width: 100%;
            height: 150px;
        }
        .wrapperRight{
            width: 100%;
            height: auto;            
        }
            .contentTop{
            width: 100%;
            height: 600px;
            margin-bottom: 20px;
        }
        .contentBot{
            width: 100%;
            height: 200px;
            margin-bottom: 20px;
        }
        .footer{
            width: 100%;
            height: 150px;
        }
    }
            
    @media screen and (min-width: 769px) and (max-width: 1024px){
                
        .main{         
            font-size: 2rem;
        }
        .wrapperLeft{
            width: 35%;
            height: auto;
        }
        .wrapperRight{
            width: 64%;
            height: auto;
        }       
    }
      